@media only screen and (max-width: 940px) {
  /* For header section */
  .menu-btn {
    display: block;
    margin: 0 20px;
  }

  header nav ul {
    position: fixed;
    top: 100px;
    left: -100%;
    background: #596e79;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    text-align: center;
    transition: all 0.5s ease;
  }

  #click:checked ~ .menu-btn i::before {
    content: "\f00d";
  }

  #click:checked ~ nav ul {
    left: 0;
  }

  header nav ul li {
    margin: 50px 0;
  }

  header nav ul li a.active,
  header nav ul li a:hover {
    box-shadow: none;
    color: #fbe8d3;
    border: 1px solid #fff;
    border-radius: 5px;
  }
}

@media only screen and (max-width: 688px) {
  /* For service section  */
  .all-services {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 15px;
    width: 85%;
    margin: auto;
  }

  /* For indoor decoration section  */
  .indoor-decoration-tittle h2 {
    font-size: 30px;
    width: 80%;
    margin: auto;
  }
  .indoor-elements {
    margin: 60px 0;
    align-items: center;
    display: block;
    width: 80%;
    margin: auto;
  }

  .indoor-image {
    width: 90%;
    margin: auto;
  }

  .indoor-image img {
    width: 100%;
  }

  .indoor-text {
    display: block;
    width: 90%;
    margin: 40px auto;
  }
  /* For gallery plants section  */
  .gallery-plants {
    width: 90%;
    margin: 50px auto 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 15px;
  }

  .gallery-plants .plant-box .images {
    width: 90%;
    margin: auto;
  }

  .plant-box .images .images-overlay i {
    font-size: 20px;
  }
  /* For parallax section */
  #parallax h2 {
    font-size: 30px;
    font-weight: 600;
    color: #00ffea;
    text-align: center;
    padding: 20px 0;
  }

  /* For review section */
  .customers {
    width: 80%;
    margin: 80px auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 25px;
  }

  .customer-box {
    display: block;
    text-align: center;
    gap: 25px;
    box-shadow: 6px 5px 5px 5px #888;
    border-radius: 5px;
    transition: 0.5s;
  }

  .customer-box .image,
  .customer-box .review-content {
    width: 100%;
  }
  /* For about section */
  #about {
    padding: 20px 0;
  }
  .about-content-box {
    width: 90%;
    margin: auto;
    display: block;
    gap: 20px;
    align-items: center;
  }

  .about-boxes,
  .about-content {
    margin: 30px 0;
  }

  .about-boxes {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }

  /* For reception section */
  .reception-content{
    width: 80%;
    margin: 20px auto;
    display: block;    
    gap: 30px;
  }

  .reception-img .image{
    width: 95%;
  }








}

@media only screen and (min-width: 689px) and (max-width: 1199px) {
  /* For service section  */
  .all-services {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    width: 90%;
  }
  /* For indoor decoration section  */
  .indoor-elements {
    margin: 60px 0;
    align-items: center;
    display: block;
    width: 80%;
    margin: auto;
  }

  .indoor-image {
    width: 90%;
    margin: auto;
  }

  .indoor-image img {
    width: 100%;
  }

  .indoor-text {
    display: block;
    width: 90%;
    margin: 40px auto;
  }
  /* For gallery plants section  */
  .gallery-plants {
    width: 90%;
    margin: 50px auto 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
  }

  .gallery-plants .plant-box .images {
    width: 90%;
    margin: auto;
  }

  .plant-box .images .images-overlay i {
    font-size: 20px;
  }
  /* For parallax section */
  #parallax h2 {
    font-size: 35px;
    font-weight: 700;
    color: #00ffea;
    text-align: center;
    padding: 30px 0;
  }

  /* For review section */
  .customers {
    width: 80%;
    margin: 80px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
  }

  .customer-box {
    display: block;
    text-align: center;
    gap: 25px;
    box-shadow: 6px 5px 5px 5px #888;
    border-radius: 5px;
    transition: 0.5s;
  }

  .customer-box .image,
  .customer-box .review-content {
    width: 100%;
  }
  /* For about section */
  #about {
    padding: 20px 0;
  }
  .about-content-box {
    width: 80%;
    margin: auto;
    display: block;
    gap: 20px;
    align-items: center;
  }

  .about-boxes,
  .about-content {
    margin: 30px 0;
  }

  .about-boxes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  /* For reception section */
  .reception-content{
    width: 80%;
    margin: 20px auto;
    display: block;    
    gap: 30px;
  }

  .reception-img .image{
    width: 95%;
  }








}
