@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;600&family=Mulish:wght@400;600;900&display=swap");

/* website's default CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
  font-family: "Mulish", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* 
===================================
            CSS INDEX
===================================
01. header section css

02. main section css 

  2.1= hero-area-img section css
  2.2= services section css
  2.3= indoor decoration section css
  2.4= gallery section css
  2.5= parallax section css
  2.6= review section css
  2.7= about section css
  2.8= reception section css
  2.9= contact section css
  1.10= delivery section css

03. footer section css

*/

/* Website's main CSS */
/*
==========================================
          01. header section css  
==========================================
*/
header {
  display: flex;
  justify-content: space-between;
  background: #00171b;
  height: 80px;
  width: 100%;
  padding: 50px 80px;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 111;
  font-family: "Karla", sans-serif;
}

header a h2 {
  font-size: 30px;
  color: #fbe8d3;
  background: #596e79;
  letter-spacing: 2px;
  padding: 0.8rem;
  box-shadow: 1px 3px 4px #d1ddf6;
  border-radius: 30rem;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

nav ul li a {
  color: #ddd;
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
  padding: 0.8rem;
  margin: 0 20px;
  transition: 0.5s;
}

nav ul li a.active,
nav ul li a:hover {
  color: #00ffea;
  border-radius: 30rem;
  box-shadow: 2px 3px 5px 2px #f6f6f6;
}

/* for menu btn */
#click {
  display: none;
}

.menu-btn {
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  display: none;
  transition: 0.5s;
}

.menu-btn:hover {
  transform: rotate(360deg);
}

/*
==========================================
    2.1 hero-area-img section css  
==========================================
*/
.hero-area-img {
  background: url("images/header-bg.jpg");
  height: 90vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

/*
==========================================
    2.2 services section css  
==========================================
*/
#services {
  background: #888;
  padding: 50px 0;
}

.service-tittle h2 {
  font-size: 40px;
  color: #4c3a51;
  text-align: center;
  letter-spacing: 3px;
  padding-top: 40px;
}

.service-tittle h2 span {
  color: #153302;
}

.service-tittle p {
  font-size: 18px;
  font-weight: 600;
  color: #e7f6f2;
  text-align: center;
  margin: 20px;
}

.all-services {
  width: 1200px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
  margin: auto;
  padding: 50px 0;
}

.service-box {
  background: #fff;
  padding: 0.5rem;
  border-radius: 3px;
  text-align: center;
  box-shadow: 10px 5px 15px #00171b;
  transition: 0.5s;
}
.service-box:hover {
  box-shadow: 15px 13px 15px #2a0944;
}

.service-box i {
  font-size: 35px;
  padding: 0.5rem;
  margin: 10px 0;
  color: #4c3a51;
  transition: 0.5s;
}

.service-box:hover i {
  transform: rotate(360deg);
  background: #ddd;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 5px #eee;
}

.service-box h3 {
  font-size: 30px;
  color: #191a19;
  transition: 0.5s;
}

.service-box:hover h3 {
  color: #365fb2;
  letter-spacing: 3px;
}

.service-box p {
  color: #000;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  margin: 15px 0;
}

.service-box .service-btn {
  color: #fbe8d3;
  background: #596e79;
  border: none;
  border-radius: 30rem;
  font-size: 20px;
  font-weight: 600;
  padding: 7px 10px;
  margin-bottom: 20px;
  letter-spacing: 3px;
  cursor: pointer;
  transition: 0.5s;
}

.service-box .service-btn:hover {
  color: #4c3a51;
  background: #ddd;
  box-shadow: 5px 5px 5px #000;
  letter-spacing: 0;
}

/*
==========================================
    2.3 indoor decoration section css  
==========================================
*/
#indoor-decoration {
  padding: 80px 0;
  background: #fbe8d3;
}

.indoor-decoration-tittle h2 {
  font-size: 40px;
  color: #4c3a51;
  text-align: center;
  letter-spacing: 3px;
}

.indoor-decoration-tittle span {
  color: #153302;
}

.indoor-decoration-tittle p {
  font-size: 18px;
  font-weight: 600;
  color: #888;
  text-align: center;
  margin: 20px;
}

.indoor-elements {
  margin: 60px 0;
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.indoor-image {
  width: 65%;
  overflow: hidden;
}

.indoor-image img {
  width: 100%;
  height: auto;
  transition: 0.5s;
}

.indoor-image img:hover {
  transform: scale(1.3);
}

.indoor-text {
  width: 25%;
}

.indoor-text h4 {
  font-size: 20px;
  color: #365fb2;
}

.indoor-text h2 {
  font-size: 35px;
  font-weight: 800;
  color: #a31acb;
  margin: 30px 0;
}

.indoor-text p {
  font-size: 18px;
  font-weight: 600;
  color: #596e79;
  line-height: 1.5;
  text-align: justify;
  margin: 15px 0;
}

.indoor-btn {
  font-size: 22px;
  font-weight: 600;
  padding: 0.8rem;
  color: #4c3a51;
  background: #ddd;
  box-shadow: 5px 5px 5px #888;
  border: 2px solid #fff;
  border-radius: 30rem;
  letter-spacing: 2px;
  cursor: pointer;
  transition: 0.5s;
}

.indoor-btn:hover {
  background: #fff;
  border: 2px solid #00ffea;
  box-shadow: 5px 5px 5px #000;
}

/*
==========================================
    2.4 gallery section css  
==========================================
*/
#gallery {
  background: #eee;
  padding: 80px 0;
}

.gallery-tittle {
  text-align: center;
}

.gallery-tittle h2 {
  font-size: 40px;
  color: #4c3a51;
  text-align: center;
  letter-spacing: 3px;
  padding-top: 40px;
}

.gallery-tittle h2 span {
  color: #153302;
}

.gallery-tittle h4 {
  font-size: 25px;
  color: #365fb2;
  margin: 20px 0;
}

.gallery-tittle p {
  font-size: 18px;
  font-weight: 600;
  color: #a31acb;
}

.gallery-plants {
  width: 90%;
  margin: 50px auto 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.plant-box .images {
  width: 410px;
  height: 300px;
  border: 3px solid #ddd;
  border-radius: 1px 10px;
  position: relative;
  overflow: hidden;
}

.plant-box .images a img {
  height: 100%;
  width: 100%;
}

.plant-box .images .images-overlay {
  position: absolute;
  top: 100%;
  left: 0;
  background: #0000007e;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.plant-box .images .images-overlay i {
  font-size: 25px;
  color: #4c3a51;
  background: #ddd;
  margin: 0.5rem;
  padding: 0.8rem;
  border: 2px solid #00ffea;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.plant-box .images .images-overlay i:hover {
  color: #365fb2;
  background: #fff;
  border: 2px solid #888;
  transform: rotate(360deg);
}

.plant-box .images .images-overlay span {
  color: #00ffea;
  font-size: 25px;
  font-weight: 900;
  text-transform: capitalize;
  letter-spacing: 2px;
  text-align: center;
}

.plant-box .images:hover .images-overlay {
  top: 0;
}

.plant-code-rate {
  display: flex;
  justify-content: space-between;
  margin: 5px 20px;
}

.plant-code-rate .code i,
.plant-code-rate .rate i {
  font-size: 25px;
  color: #4c3a51;
}

.plant-code-rate .code {
  cursor: pointer;
}

.plant-code-rate .code span,
.plant-code-rate .rate span {
  font-size: 20px;
  font-weight: 900;
  color: #596e79;
  margin: 5px;
}

/*
==========================================
    2.5 parallax section css  
==========================================
*/
#parallax {
  background: url("images/paralex-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#parallax h2 {
  font-size: 40px;
  font-weight: 800;
  color: #00ffea;
  text-align: center;
  padding: 90px 0;
}

/*
==========================================
    2.6 review section css  
==========================================
*/
#review {
  padding: 80px 0;
}

.review-section-tittle h2 {
  font-size: 40px;
  color: #4c3a51;
  text-align: center;
  letter-spacing: 3px;
  padding-top: 40px;
}

.review-section-tittle span {
  color: #153302;
}

.review-section-tittle p {
  font-size: 18px;
  font-weight: 600;
  color: #00171b;
  text-align: center;
  margin: 20px 0;
}

.customers {
  width: 1200px;
  margin: 80px auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.customer-box {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  box-shadow: 6px 5px 5px 5px #888;
  border-radius: 5px;
  transition: 0.5s;
}

.customer-box:hover {
  box-shadow: 5px 5px 5px #00171b;
}

.customer-box .image {
  width: 300px;
  height: 250px;
  overflow: hidden;
}

.customer-box .image img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  transition: 0.5s;
}

.customer-box:hover .image img {
  transform: scale(1.3);
}

.review-content {
  width: 300px;
}

.review-content h2 {
  font-size: 30px;
  font-weight: 800;
  color: #a31acb;
  margin: 10px 0;
  letter-spacing: 3px;
  transition: 0.5s;
}

.review-content p {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
  color: #888;
  padding: 0 0.5rem;
}

.review-content .stars i {
  font-size: 15px;
  margin: 10px 5px;
  color: #ff4500;
  transition: 0.5s;
}

.review-content:hover h2,
.review-content:hover i {
  letter-spacing: 7px;
}

/*
==========================================
    2.7 about section css  
==========================================
*/
#about {
  background: url("images/about-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 85px 0;
}

.about-content-box {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
  margin: 0 15%;
}

.about-boxes,
.about-content {
  padding: 1.2rem;
  border-radius: 10px;
  transition: 0.5s;
}

.about-content h3 {
  font-size: 30px;
  font-weight: 800;
  color: #00ffea;
}

.about-content p {
  font-size: 18px;
  line-height: 1.5;
  color: #eee;
  margin: 20px 0;
}

.about-content ul li {
  display: block;
}

.about-content ul li i {
  font-size: 20px;
  color: #00ffea;
  font-weight: 800;
  display: inline-block;
}

.about-content ul li p {
  font-weight: 800;
  display: inline-block;
  line-height: 1.2;
  margin: 5px;
}

.about-content .about-btn {
  font-size: 20px;
  font-weight: 800;
  color: #a31acb;
  background: #eee;
  padding: 5px 10px;
  border: 2px solid #00ffea;
  border-radius: 5px;
  margin: 20px 0;
  cursor: pointer;
}

.about-boxes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.about-boxes .box {
  background: #fff;
  text-align: center;
  padding: 1rem;
  transition: 0.5s;
}

.about-content:hover,
.about-boxes .box:hover {
  box-shadow: 5px 5px 5px #365fb2;
}

.box h3 {
  color: #a31acb;
  font-size: 30px;
}

.box p {
  font-size: 18px;
  color: #000;
  font-weight: 800;
  line-height: 1.5;
  margin: 20px 0;
}
/*
==========================================
    2.8 reception section css  
==========================================
*/
#reception {
  background: #888;
  padding: 80px 0;
}

.reception-content {
  width: 80%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.reception-img {
  padding: 1rem;
}

.reception-img .image {
  width: 640px;
  height: 427px;
  border: 3px solid #ddd;
  border-radius: 1px 10px;
  overflow: hidden;
}

.reception-img .image img {
  height: 100%;
  width: 100%;
  transition: 0.5s;
}

.reception-img .image img:hover {
  transform: scale(1.3);
}

.reception-text h3 i,
.reception-img h3 {
  color: #153302;
  font-size: 35px;
  font-weight: 800;
  margin: 20px 0;
}

.reception-text h3,
.reception-img h3 i {
  font-size: 40px;
  color: #4c3a51;
}

.reception-content p {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  line-height: 1.3;
  margin: 20px 0;
  text-align: justify;
}

.reception-text a,
.reception-img .social-btn a i {
  color: #4c3a51;
  background: #ddd;
  padding: 8px 30px;
  margin: 8px 10px;
  font-size: 20px;
  font-weight: 800;
  border: 2px solid #fff;
  border-radius: 30rem;
  transition: 0.5s;
}

.reception-text a:hover,
.reception-img .social-btn a:hover i {
  color: #000;
  background: #fff;
  border: 2px solid #00ffea;
  padding: 8px 30px;
  margin: 8px 10px;
  box-shadow: 5px 5px 5px #000;
}

.reception-text hr {
  height: 5px;
  width: 100%;
  background: #eee;
  border: none;
}
/*
==========================================
    2.9 contact section css  
==========================================
*/
#contact {
  background: url("images/contact-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.contact-form {
  padding: 80px 0;
}

.form {
  width: 40%;
  margin: auto;
  padding: 1rem;
  background: #888;
  border: 2px solid #00ffea;
}

.form .form-tittle h3 {
  font-size: 30px;
  color: #fbe8d3;
  text-align: center;
  margin: 20px 0;
}

.form .form-tittle p {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  margin: 20px 0;
  text-align: center;
}

.form label {
  font-size: 25px;
  font-weight: 700;
  color: #eee;
  display: block;
}

.form input,
.form textarea {
  width: 100%;
  padding: 1rem;
  margin: 10px 0;
  border-radius: 5px;
  color: #00171b;
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 700;
  border: none;
  transition: 0.5s;
}

.form input:hover,
.form textarea:hover {
  box-shadow: 5px 5px 5px 5px #000;
}

.form .submit-btn {
  display: inline-block;
  width: 150px;
  margin: 0 auto;
  cursor: pointer;
}

.form .submit-btn:hover {
  color: #00171b;
  background: #eee;
  border: 2px solid #a31acb;
}

/*
==========================================
    2.10 delivery section css  
==========================================
*/
#delivery {
  padding: 80px 0;
  background: #ddd;
}

.delivery-icons {
  width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
}

.delivery-icons > h2 {
  font-size: 40px;
  color: #4c3a51;
  transition: .5s;
  box-shadow: 15px 15px 15px #eee;
}

.delivery-options {
  padding: 1rem;
  border: 3px groove #a31acb;
  transition: .5s;
}

.delivery-options:hover{
  box-shadow: 15px 15px 15px #000;
}

.delivery-options legend i {
  font-size: 35px;
  color: #ff4500;
  margin: 0 15px;
}

.delivery-options h4 {
  font-size: 25px;
  color: #153302;
}

.delivery-options p {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
  margin: 15px 0;
}

.delivery-options .delivery-btn {
  display: flex;
  justify-content: space-around;
}

.delivery-btn span {
  color: #4c3a51;
  font-size: 22px;
  font-weight: 800;
}

.delivery-options a {
  font-size: 25px;
  font-weight: 700;
  color: #ddd;
  background: #888;
  padding: 5px 20px;
  border: 2px solid #fff;
  border-radius: 30rem;
  box-shadow: 5px 5px 5px #000;
  transition: 0.5s;
}

.delivery-options a:hover {
  color: #fff;
  background: #888;
  border: 2px solid #4c3a51;
  letter-spacing: 3px;
  box-shadow: none;
}
/*
==========================================
    3. footer section css  
==========================================
*/

footer {
  background: #4c3a51;
}

.footer-content {
  width: 1200px;
  margin: auto;
  padding: 100px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.about h2 {
  font-size: 30px;
  color: #fff;
}

.about p {
  font-size: 18px;
  font-weight: 600;
  color: #ddd;
  line-height: 1.3;
  margin: 20px 0;
  text-align: justify;
}

.about a {
  font-size: 25px;
  color: #153302;
  background: #eee;
  font-weight: 700;
  padding: 8px 10px;
  margin: 20px 0;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5;
}

.about a:hover {
  color: #a31acb;
  background: #fff;
}

.quick-links a {
  color: #fff;
  display: block;
  margin: 20px 0;
  font-size: 20px;
  font-weight: 700;
  background: #888;
  padding: 5px 10px;
  text-align: center;
  transition: 0.5s;
}

.quick-links a:hover {
  letter-spacing: 5px;
}

.social-icons a {
  margin: 0 20px;
}

.social-icons a i {
  font-size: 25px;
  font-weight: 800;
  color: #153302;
  background: #eee;
  padding: 0.5rem;
  border-radius: 5px;
  transition: 0.5s;
}

.social-icons a:hover i {
  transform: rotate(360deg);
}

footer hr {
  height: 4px;
  background: #00ffea;
}

.footer-bottom {
  padding: 1.5rem;
  width: 35%;
  margin: auto;
}

.footer-bottom strong {
  font-size: 20px;
  color: #fff;
  line-height: 2;
}

.footer-bottom strong a {
  font-size: 20px;
  color: #2a0944;
  background: #fff;
  padding: 8px 15px;
  border-radius: 30rem;
  box-shadow: 5px 5px 5px #000;
}
